@use "../utils/typography" as *;
@use "../utils/colors" as *;
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.flex-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-between {
    justify-content: space-between;
}
